

// SECTION 2

.container-img-profile{

    position: relative;


    .img-profile{
        position: absolute;
        top: -2em;
        left: 44%;
        padding: .2em;
        border-radius: 50%;
        img{
            border: 1px solid white;
            border-radius: 50%;
        }
    }
}

.our-journey{
    padding: 7rem;
}

.contact-us{
    background-image: url(https://picsum.photos/1000/1500);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem;
}

