

// SECTION 2

.container-img-profile{

    position: relative;


    .img-profile{
        position: absolute;
        top: -4em;
        left: 50%;
        padding: 1em;
        img{
            border: 1px solid white;
            border-radius: 50%;
        }
    }
}
